.marco{
	margin-left: 150px;
	margin-right: 150px;

}

.intro{
	/*margin-right: 35em;*/
	text-align: justify;
}

.titulo{
	color: #9F2241;
    text-align: center;
}

.libros {
    display: flex;
    flex-flow: row nowrap;
}

.filtro{
    width: 20%

}

.buscar {
    width: 80%;
}

.carousel {
    min-height: 500px;
}

.carousel .carousel-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    width: 400px;
    height: 400px;
}

.carousel .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

}

.carousel .carousel-item img:hover {
    transform: scale(1.15);
}

.carousel .indicators .indicator-item {
    border-radius: 0px;
    transform: rotate(45deg);
    margin: 0 15px;
    background: #691a30;
    position: relative;
    top: -30px;
}

